:root {
    font-family: "Roboto", Arial, sans-serif;
    background-color: #f3f2f1;
    color: #000;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --btn-back-color: var(--default-grey);
    --btn-front-color: #fff;

    --default-blue: #228096;
    --default-grey: #7a7a7a;
    --default-green: #879637;
    --red: #b01a0d;
}

a {
    font-weight: 500;
    color: #039;
    text-decoration: inherit;
}
a:hover {
    color: #747bff;
}

button {
    width: fit-content;
    font-weight: 700;
    font-size: 1rem;
    background-color: var(--btn-back-color);
    color: var(--btn-front-color);
    /* border: 1px solid var(--btn-back-color); */
    padding: 1rem 0.5rem;
    cursor: pointer;
    transition: color 0.2s cubic-bezier(0.25, 0.8, 0.25, 1),
        background-color 0.2s cubic-bezier(0.25, 0.8, 0.25, 1),
        border-color 0.2s cubic-bezier(0.25, 0.8, 0.25, 1),
        box-shadow 0.2s cubic-bezier(0.25, 0.8, 0.25, 1),
        fill 0.2s cubic-bezier(0.25, 0.8, 0.25, 1),
        -webkit-box-shadow 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

button:disabled,
input[type="file"]:disabled {
    opacity: 0.5;
}

h2,
h3 {
    margin: 0px;
}
h2 {
    padding: 1.5rem;
}

body {
    display: flex;
    place-items: center;
    margin: 0;
}

#root {
    height: 100%;
    width: 100%;
    margin: 0;

    display: flex;
    flex-direction: column;
    overflow: hidden;
}
