.tabsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;

    .tabsWrapper {
        width: 100%;
        padding-left: 260px;

        & > button {
            padding: 20px;
        }
    }

    .active {
        background-color: white;
        border: 1px solid var(--btn-back-color);
        color: var(--btn-back-color);
    }
}

.outlet {
    background-color: white;
}
